@import "tailwindcss";

:root {
  --background: #deceae;
  --foreground: #4f4440;
  --font-pixelify: "Pixelify Sans", cursive; 
}

@theme inline{
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-pixelify);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pixelify Sans", Arial, Helvetica, sans-serif;
}
